<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>unlockImage</key>
		<string></string>
		<key>icon</key>
		<string>filter_cover_1.jpg</string>
		<key>productCode</key>
		<string></string>
		<key>filter</key>
		<string></string>
		<key>isPurchase</key>
		<true/>
		<key>FontProperty</key>
		<dict>
			<key>position</key>
			<string>{70,120}</string>
			<key>distance</key>
			<string>3</string>
			<key>fontName</key>
			<string>CapsuleXProMediumUC</string>
			<key>fontSize</key>
			<string>50</string>
			<key>fontColor</key>
			<string>255,255,255,1</string>
			<key>shadowOffset</key>
			<string>{2.0,2.0}</string>
			<key>shadowColor</key>
			<string>255,255,255,1</string>
			<key>shadowRadius</key>
			<string>2</string>
			<key>shadowOpacity</key>
			<string>0</string>
			<key>strokeWidth</key>
			<string>1.0</string>
			<key>strokeColor</key>
			<string>255,255,255,1</string>
		</dict>
	</dict>
	<dict>
		<key>unlockImage</key>
		<string>iap_ad_1.png</string>
		<key>icon</key>
		<string>filter_cover_2.jpg</string>
		<key>productCode</key>
		<string></string>
		<key>filter</key>
		<string>GPUImageGrayscaleFilter,FX_1_2.acv</string>
		<key>isPurchase</key>
		<true/>
		<key>FontProperty</key>
		<dict>
			<key>position</key>
			<string>{70,120}</string>
			<key>distance</key>
			<string>3</string>
			<key>fontName</key>
			<string>CapsuleXProMediumUC</string>
			<key>fontSize</key>
			<string>50</string>
			<key>fontColor</key>
			<string>255,255,255,1</string>
			<key>shadowOffset</key>
			<string>{2.0,2.0}</string>
			<key>shadowColor</key>
			<string>255,255,255,1</string>
			<key>shadowRadius</key>
			<string>2</string>
			<key>shadowOpacity</key>
			<string>0</string>
			<key>strokeWidth</key>
			<string>1.0</string>
			<key>strokeColor</key>
			<string>255,255,255,1</string>
		</dict>
	</dict>
</array>
</plist>
