<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>halo_1_1.png</string>
		<key>productCode</key>
		<string></string>
		<key>texture</key>
		<string></string>
		<key>isPurchase</key>
		<true/>
		<key>FontProperty</key>
		<dict>
			<key>position</key>
			<string>{70,120}</string>
			<key>distance</key>
			<string>3</string>
			<key>fontName</key>
			<string>CapsuleXProMediumUC</string>
			<key>fontSize</key>
			<string>50</string>
			<key>fontColor</key>
			<string>255,255,255,1</string>
			<key>shadowOffset</key>
			<string>{2.0,2.0}</string>
			<key>shadowColor</key>
			<string>255,255,255,1</string>
			<key>shadowRadius</key>
			<string>2</string>
			<key>shadowOpacity</key>
			<string>0</string>
			<key>strokeWidth</key>
			<string>1.0</string>
			<key>strokeColor</key>
			<string>255,255,255,1</string>
		</dict>
	</dict>
	<dict>
		<key>icon</key>
		<string>halo_1_2.png</string>
		<key>productCode</key>
		<string></string>
		<key>texture</key>
		<string>halo_1_2.png</string>
		<key>isPurchase</key>
		<true/>
		<key>FontProperty</key>
		<dict>
			<key>position</key>
			<string>{70,120}</string>
			<key>distance</key>
			<string>3</string>
			<key>fontName</key>
			<string>CapsuleXProMediumUC</string>
			<key>fontSize</key>
			<string>50</string>
			<key>fontColor</key>
			<string>255,255,255,1</string>
			<key>shadowOffset</key>
			<string>{2.0,2.0}</string>
			<key>shadowColor</key>
			<string>255,255,255,1</string>
			<key>shadowRadius</key>
			<string>2</string>
			<key>shadowOpacity</key>
			<string>0</string>
			<key>strokeWidth</key>
			<string>1.0</string>
			<key>strokeColor</key>
			<string>255,255,255,1</string>
		</dict>
	</dict>
	<dict>
		<key>icon</key>
		<string>halo_1_3.png</string>
		<key>productCode</key>
		<string>com.appstudio.X2.1</string>
		<key>texture</key>
		<string>halo_1_3.png</string>
		<key>isPurchase</key>
		<true/>
		<key>FontProperty</key>
		<dict>
			<key>position</key>
			<string>{70,120}</string>
			<key>distance</key>
			<string>3</string>
			<key>fontName</key>
			<string>CapsuleXProMediumUC</string>
			<key>fontSize</key>
			<string>50</string>
			<key>fontColor</key>
			<string>255,255,255,1</string>
			<key>shadowOffset</key>
			<string>{2.0,2.0}</string>
			<key>shadowColor</key>
			<string>255,255,255,1</string>
			<key>shadowRadius</key>
			<string>2</string>
			<key>shadowOpacity</key>
			<string>0</string>
			<key>strokeWidth</key>
			<string>1.0</string>
			<key>strokeColor</key>
			<string>255,255,255,1</string>
		</dict>
	</dict>
	<dict>
		<key>icon</key>
		<string>halo_1_4.png</string>
		<key>productCode</key>
		<string>com.appstudio.X2.1</string>
		<key>texture</key>
		<string>halo_1_4.png</string>
		<key>isPurchase</key>
		<true/>
		<key>FontProperty</key>
		<dict>
			<key>position</key>
			<string>{70,120}</string>
			<key>distance</key>
			<string>3</string>
			<key>fontName</key>
			<string>CapsuleXProMediumUC</string>
			<key>fontSize</key>
			<string>50</string>
			<key>fontColor</key>
			<string>255,255,255,1</string>
			<key>shadowOffset</key>
			<string>{2.0,2.0}</string>
			<key>shadowColor</key>
			<string>255,255,255,1</string>
			<key>shadowRadius</key>
			<string>2</string>
			<key>shadowOpacity</key>
			<string>0</string>
			<key>strokeWidth</key>
			<string>1.0</string>
			<key>strokeColor</key>
			<string>255,255,255,1</string>
		</dict>
	</dict>
	<dict>
		<key>icon</key>
		<string>halo_1_5.png</string>
		<key>productCode</key>
		<string>com.appstudio.X2.1</string>
		<key>texture</key>
		<string>halo_1_5.png</string>
		<key>isPurchase</key>
		<true/>
		<key>FontProperty</key>
		<dict>
			<key>position</key>
			<string>{70,120}</string>
			<key>distance</key>
			<string>3</string>
			<key>fontName</key>
			<string>CapsuleXProMediumUC</string>
			<key>fontSize</key>
			<string>50</string>
			<key>fontColor</key>
			<string>255,255,255,1</string>
			<key>shadowOffset</key>
			<string>{2.0,2.0}</string>
			<key>shadowColor</key>
			<string>255,255,255,1</string>
			<key>shadowRadius</key>
			<string>2</string>
			<key>shadowOpacity</key>
			<string>0</string>
			<key>strokeWidth</key>
			<string>1.0</string>
			<key>strokeColor</key>
			<string>255,255,255,1</string>
		</dict>
	</dict>
	<dict>
		<key>icon</key>
		<string>halo_2_1.png</string>
		<key>productCode</key>
		<string>com.appstudio.X2.1</string>
		<key>texture</key>
		<string>halo_2_1.png</string>
		<key>isPurchase</key>
		<true/>
		<key>FontProperty</key>
		<dict>
			<key>position</key>
			<string>{70,120}</string>
			<key>distance</key>
			<string>3</string>
			<key>fontName</key>
			<string>CapsuleXProMediumUC</string>
			<key>fontSize</key>
			<string>50</string>
			<key>fontColor</key>
			<string>255,255,255,1</string>
			<key>shadowOffset</key>
			<string>{2.0,2.0}</string>
			<key>shadowColor</key>
			<string>255,255,255,1</string>
			<key>shadowRadius</key>
			<string>2</string>
			<key>shadowOpacity</key>
			<string>0</string>
			<key>strokeWidth</key>
			<string>1.0</string>
			<key>strokeColor</key>
			<string>255,255,255,1</string>
		</dict>
	</dict>
	<dict>
		<key>icon</key>
		<string>halo_2_2.png</string>
		<key>productCode</key>
		<string>com.appstudio.X2.1</string>
		<key>texture</key>
		<string>halo_2_2.png</string>
		<key>isPurchase</key>
		<true/>
		<key>FontProperty</key>
		<dict>
			<key>position</key>
			<string>{70,120}</string>
			<key>distance</key>
			<string>3</string>
			<key>fontName</key>
			<string>CapsuleXProMediumUC</string>
			<key>fontSize</key>
			<string>50</string>
			<key>fontColor</key>
			<string>255,255,255,1</string>
			<key>shadowOffset</key>
			<string>{2.0,2.0}</string>
			<key>shadowColor</key>
			<string>255,255,255,1</string>
			<key>shadowRadius</key>
			<string>2</string>
			<key>shadowOpacity</key>
			<string>0</string>
			<key>strokeWidth</key>
			<string>1.0</string>
			<key>strokeColor</key>
			<string>255,255,255,1</string>
		</dict>
	</dict>
	<dict>
		<key>icon</key>
		<string>halo_2_3.png</string>
		<key>productCode</key>
		<string>com.appstudio.X2.1</string>
		<key>texture</key>
		<string>halo_2_3.png</string>
		<key>isPurchase</key>
		<true/>
		<key>FontProperty</key>
		<dict>
			<key>position</key>
			<string>{70,120}</string>
			<key>distance</key>
			<string>3</string>
			<key>fontName</key>
			<string>CapsuleXProMediumUC</string>
			<key>fontSize</key>
			<string>50</string>
			<key>fontColor</key>
			<string>255,255,255,1</string>
			<key>shadowOffset</key>
			<string>{2.0,2.0}</string>
			<key>shadowColor</key>
			<string>255,255,255,1</string>
			<key>shadowRadius</key>
			<string>2</string>
			<key>shadowOpacity</key>
			<string>0</string>
			<key>strokeWidth</key>
			<string>1.0</string>
			<key>strokeColor</key>
			<string>255,255,255,1</string>
		</dict>
	</dict>
	<dict>
		<key>icon</key>
		<string>halo_2_4.png</string>
		<key>productCode</key>
		<string>com.appstudio.X2.1</string>
		<key>texture</key>
		<string>halo_2_4.png</string>
		<key>isPurchase</key>
		<true/>
		<key>FontProperty</key>
		<dict>
			<key>position</key>
			<string>{70,120}</string>
			<key>distance</key>
			<string>3</string>
			<key>fontName</key>
			<string>CapsuleXProMediumUC</string>
			<key>fontSize</key>
			<string>50</string>
			<key>fontColor</key>
			<string>255,255,255,1</string>
			<key>shadowOffset</key>
			<string>{2.0,2.0}</string>
			<key>shadowColor</key>
			<string>255,255,255,1</string>
			<key>shadowRadius</key>
			<string>2</string>
			<key>shadowOpacity</key>
			<string>0</string>
			<key>strokeWidth</key>
			<string>1.0</string>
			<key>strokeColor</key>
			<string>255,255,255,1</string>
		</dict>
	</dict>
	<dict>
		<key>icon</key>
		<string>halo_2_5.png</string>
		<key>productCode</key>
		<string>com.appstudio.X2.1</string>
		<key>texture</key>
		<string>halo_2_5.png</string>
		<key>isPurchase</key>
		<true/>
		<key>FontProperty</key>
		<dict>
			<key>position</key>
			<string>{70,120}</string>
			<key>distance</key>
			<string>3</string>
			<key>fontName</key>
			<string>CapsuleXProMediumUC</string>
			<key>fontSize</key>
			<string>50</string>
			<key>fontColor</key>
			<string>255,255,255,1</string>
			<key>shadowOffset</key>
			<string>{2.0,2.0}</string>
			<key>shadowColor</key>
			<string>255,255,255,1</string>
			<key>shadowRadius</key>
			<string>2</string>
			<key>shadowOpacity</key>
			<string>0</string>
			<key>strokeWidth</key>
			<string>1.0</string>
			<key>strokeColor</key>
			<string>255,255,255,1</string>
		</dict>
	</dict>
	<dict>
		<key>icon</key>
		<string>halo_3_1.png</string>
		<key>productCode</key>
		<string>com.appstudio.X2.1</string>
		<key>texture</key>
		<string>halo_3_1.png</string>
		<key>isPurchase</key>
		<true/>
		<key>FontProperty</key>
		<dict>
			<key>position</key>
			<string>{70,120}</string>
			<key>distance</key>
			<string>3</string>
			<key>fontName</key>
			<string>CapsuleXProMediumUC</string>
			<key>fontSize</key>
			<string>50</string>
			<key>fontColor</key>
			<string>255,255,255,1</string>
			<key>shadowOffset</key>
			<string>{2.0,2.0}</string>
			<key>shadowColor</key>
			<string>255,255,255,1</string>
			<key>shadowRadius</key>
			<string>2</string>
			<key>shadowOpacity</key>
			<string>0</string>
			<key>strokeWidth</key>
			<string>1.0</string>
			<key>strokeColor</key>
			<string>255,255,255,1</string>
		</dict>
	</dict>
	<dict>
		<key>icon</key>
		<string>halo_3_2.png</string>
		<key>productCode</key>
		<string>com.appstudio.X2.1</string>
		<key>texture</key>
		<string>halo_3_2.png</string>
		<key>isPurchase</key>
		<true/>
		<key>FontProperty</key>
		<dict>
			<key>position</key>
			<string>{70,120}</string>
			<key>distance</key>
			<string>3</string>
			<key>fontName</key>
			<string>CapsuleXProMediumUC</string>
			<key>fontSize</key>
			<string>50</string>
			<key>fontColor</key>
			<string>255,255,255,1</string>
			<key>shadowOffset</key>
			<string>{2.0,2.0}</string>
			<key>shadowColor</key>
			<string>255,255,255,1</string>
			<key>shadowRadius</key>
			<string>2</string>
			<key>shadowOpacity</key>
			<string>0</string>
			<key>strokeWidth</key>
			<string>1.0</string>
			<key>strokeColor</key>
			<string>255,255,255,1</string>
		</dict>
	</dict>
	<dict>
		<key>icon</key>
		<string>halo_3_3.png</string>
		<key>productCode</key>
		<string>com.appstudio.X2.1</string>
		<key>texture</key>
		<string>halo_3_3.png</string>
		<key>isPurchase</key>
		<true/>
		<key>FontProperty</key>
		<dict>
			<key>position</key>
			<string>{70,120}</string>
			<key>distance</key>
			<string>3</string>
			<key>fontName</key>
			<string>CapsuleXProMediumUC</string>
			<key>fontSize</key>
			<string>50</string>
			<key>fontColor</key>
			<string>255,255,255,1</string>
			<key>shadowOffset</key>
			<string>{2.0,2.0}</string>
			<key>shadowColor</key>
			<string>255,255,255,1</string>
			<key>shadowRadius</key>
			<string>2</string>
			<key>shadowOpacity</key>
			<string>0</string>
			<key>strokeWidth</key>
			<string>1.0</string>
			<key>strokeColor</key>
			<string>255,255,255,1</string>
		</dict>
	</dict>
	<dict>
		<key>icon</key>
		<string>halo_3_4.png</string>
		<key>productCode</key>
		<string>com.appstudio.X2.1</string>
		<key>texture</key>
		<string>halo_3_4.png</string>
		<key>isPurchase</key>
		<true/>
		<key>FontProperty</key>
		<dict>
			<key>position</key>
			<string>{70,120}</string>
			<key>distance</key>
			<string>3</string>
			<key>fontName</key>
			<string>CapsuleXProMediumUC</string>
			<key>fontSize</key>
			<string>50</string>
			<key>fontColor</key>
			<string>255,255,255,1</string>
			<key>shadowOffset</key>
			<string>{2.0,2.0}</string>
			<key>shadowColor</key>
			<string>255,255,255,1</string>
			<key>shadowRadius</key>
			<string>2</string>
			<key>shadowOpacity</key>
			<string>0</string>
			<key>strokeWidth</key>
			<string>1.0</string>
			<key>strokeColor</key>
			<string>255,255,255,1</string>
		</dict>
	</dict>
	<dict>
		<key>icon</key>
		<string>halo_3_5.png</string>
		<key>productCode</key>
		<string>com.appstudio.X2.1</string>
		<key>texture</key>
		<string>halo_3_5.png</string>
		<key>isPurchase</key>
		<true/>
		<key>FontProperty</key>
		<dict>
			<key>position</key>
			<string>{70,120}</string>
			<key>distance</key>
			<string>3</string>
			<key>fontName</key>
			<string>CapsuleXProMediumUC</string>
			<key>fontSize</key>
			<string>50</string>
			<key>fontColor</key>
			<string>255,255,255,1</string>
			<key>shadowOffset</key>
			<string>{2.0,2.0}</string>
			<key>shadowColor</key>
			<string>255,255,255,1</string>
			<key>shadowRadius</key>
			<string>2</string>
			<key>shadowOpacity</key>
			<string>0</string>
			<key>strokeWidth</key>
			<string>1.0</string>
			<key>strokeColor</key>
			<string>255,255,255,1</string>
		</dict>
	</dict>
	<dict>
		<key>icon</key>
		<string>halo_4_1.png</string>
		<key>productCode</key>
		<string>com.appstudio.X2.1</string>
		<key>texture</key>
		<string>halo_4_1.png</string>
		<key>isPurchase</key>
		<true/>
		<key>FontProperty</key>
		<dict>
			<key>position</key>
			<string>{70,120}</string>
			<key>distance</key>
			<string>3</string>
			<key>fontName</key>
			<string>CapsuleXProMediumUC</string>
			<key>fontSize</key>
			<string>50</string>
			<key>fontColor</key>
			<string>255,255,255,1</string>
			<key>shadowOffset</key>
			<string>{2.0,2.0}</string>
			<key>shadowColor</key>
			<string>255,255,255,1</string>
			<key>shadowRadius</key>
			<string>2</string>
			<key>shadowOpacity</key>
			<string>0</string>
			<key>strokeWidth</key>
			<string>1.0</string>
			<key>strokeColor</key>
			<string>255,255,255,1</string>
		</dict>
	</dict>
	<dict>
		<key>icon</key>
		<string>halo_4_2.png</string>
		<key>productCode</key>
		<string>com.appstudio.X2.1</string>
		<key>texture</key>
		<string>halo_4_2.png</string>
		<key>isPurchase</key>
		<true/>
		<key>FontProperty</key>
		<dict>
			<key>position</key>
			<string>{70,120}</string>
			<key>distance</key>
			<string>3</string>
			<key>fontName</key>
			<string>CapsuleXProMediumUC</string>
			<key>fontSize</key>
			<string>50</string>
			<key>fontColor</key>
			<string>255,255,255,1</string>
			<key>shadowOffset</key>
			<string>{2.0,2.0}</string>
			<key>shadowColor</key>
			<string>255,255,255,1</string>
			<key>shadowRadius</key>
			<string>2</string>
			<key>shadowOpacity</key>
			<string>0</string>
			<key>strokeWidth</key>
			<string>1.0</string>
			<key>strokeColor</key>
			<string>255,255,255,1</string>
		</dict>
	</dict>
	<dict>
		<key>icon</key>
		<string>halo_4_3.png</string>
		<key>productCode</key>
		<string>com.appstudio.X2.1</string>
		<key>texture</key>
		<string>halo_4_3.png</string>
		<key>isPurchase</key>
		<true/>
		<key>FontProperty</key>
		<dict>
			<key>position</key>
			<string>{70,120}</string>
			<key>distance</key>
			<string>3</string>
			<key>fontName</key>
			<string>CapsuleXProMediumUC</string>
			<key>fontSize</key>
			<string>50</string>
			<key>fontColor</key>
			<string>255,255,255,1</string>
			<key>shadowOffset</key>
			<string>{2.0,2.0}</string>
			<key>shadowColor</key>
			<string>255,255,255,1</string>
			<key>shadowRadius</key>
			<string>2</string>
			<key>shadowOpacity</key>
			<string>0</string>
			<key>strokeWidth</key>
			<string>1.0</string>
			<key>strokeColor</key>
			<string>255,255,255,1</string>
		</dict>
	</dict>
	<dict>
		<key>icon</key>
		<string>halo_4_4.png</string>
		<key>productCode</key>
		<string>com.appstudio.X2.1</string>
		<key>texture</key>
		<string>halo_4_4.png</string>
		<key>isPurchase</key>
		<true/>
		<key>FontProperty</key>
		<dict>
			<key>position</key>
			<string>{70,120}</string>
			<key>distance</key>
			<string>3</string>
			<key>fontName</key>
			<string>CapsuleXProMediumUC</string>
			<key>fontSize</key>
			<string>50</string>
			<key>fontColor</key>
			<string>255,255,255,1</string>
			<key>shadowOffset</key>
			<string>{2.0,2.0}</string>
			<key>shadowColor</key>
			<string>255,255,255,1</string>
			<key>shadowRadius</key>
			<string>2</string>
			<key>shadowOpacity</key>
			<string>0</string>
			<key>strokeWidth</key>
			<string>1.0</string>
			<key>strokeColor</key>
			<string>255,255,255,1</string>
		</dict>
	</dict>
	<dict>
		<key>icon</key>
		<string>halo_4_5.png</string>
		<key>productCode</key>
		<string>com.appstudio.X2.1</string>
		<key>texture</key>
		<string>halo_4_5.png</string>
		<key>isPurchase</key>
		<true/>
		<key>FontProperty</key>
		<dict>
			<key>position</key>
			<string>{70,120}</string>
			<key>distance</key>
			<string>3</string>
			<key>fontName</key>
			<string>CapsuleXProMediumUC</string>
			<key>fontSize</key>
			<string>50</string>
			<key>fontColor</key>
			<string>255,255,255,1</string>
			<key>shadowOffset</key>
			<string>{2.0,2.0}</string>
			<key>shadowColor</key>
			<string>255,255,255,1</string>
			<key>shadowRadius</key>
			<string>2</string>
			<key>shadowOpacity</key>
			<string>0</string>
			<key>strokeWidth</key>
			<string>1.0</string>
			<key>strokeColor</key>
			<string>255,255,255,1</string>
		</dict>
	</dict>
	<dict>
		<key>icon</key>
		<string>halo_5_1.png</string>
		<key>productCode</key>
		<string>com.appstudio.X2.1</string>
		<key>texture</key>
		<string>halo_5_1.png</string>
		<key>isPurchase</key>
		<true/>
		<key>FontProperty</key>
		<dict>
			<key>position</key>
			<string>{70,120}</string>
			<key>distance</key>
			<string>3</string>
			<key>fontName</key>
			<string>CapsuleXProMediumUC</string>
			<key>fontSize</key>
			<string>50</string>
			<key>fontColor</key>
			<string>255,255,255,1</string>
			<key>shadowOffset</key>
			<string>{2.0,2.0}</string>
			<key>shadowColor</key>
			<string>255,255,255,1</string>
			<key>shadowRadius</key>
			<string>2</string>
			<key>shadowOpacity</key>
			<string>0</string>
			<key>strokeWidth</key>
			<string>1.0</string>
			<key>strokeColor</key>
			<string>255,255,255,1</string>
		</dict>
	</dict>
	<dict>
		<key>icon</key>
		<string>halo_5_2.png</string>
		<key>productCode</key>
		<string>com.appstudio.X2.1</string>
		<key>texture</key>
		<string>halo_5_2.png</string>
		<key>isPurchase</key>
		<true/>
		<key>FontProperty</key>
		<dict>
			<key>position</key>
			<string>{70,120}</string>
			<key>distance</key>
			<string>3</string>
			<key>fontName</key>
			<string>CapsuleXProMediumUC</string>
			<key>fontSize</key>
			<string>50</string>
			<key>fontColor</key>
			<string>255,255,255,1</string>
			<key>shadowOffset</key>
			<string>{2.0,2.0}</string>
			<key>shadowColor</key>
			<string>255,255,255,1</string>
			<key>shadowRadius</key>
			<string>2</string>
			<key>shadowOpacity</key>
			<string>0</string>
			<key>strokeWidth</key>
			<string>1.0</string>
			<key>strokeColor</key>
			<string>255,255,255,1</string>
		</dict>
	</dict>
	<dict>
		<key>icon</key>
		<string>halo_5_3.png</string>
		<key>productCode</key>
		<string>com.appstudio.X2.1</string>
		<key>texture</key>
		<string>halo_5_3.png</string>
		<key>isPurchase</key>
		<true/>
		<key>FontProperty</key>
		<dict>
			<key>position</key>
			<string>{70,120}</string>
			<key>distance</key>
			<string>3</string>
			<key>fontName</key>
			<string>CapsuleXProMediumUC</string>
			<key>fontSize</key>
			<string>50</string>
			<key>fontColor</key>
			<string>255,255,255,1</string>
			<key>shadowOffset</key>
			<string>{2.0,2.0}</string>
			<key>shadowColor</key>
			<string>255,255,255,1</string>
			<key>shadowRadius</key>
			<string>2</string>
			<key>shadowOpacity</key>
			<string>0</string>
			<key>strokeWidth</key>
			<string>1.0</string>
			<key>strokeColor</key>
			<string>255,255,255,1</string>
		</dict>
	</dict>
	<dict>
		<key>icon</key>
		<string>halo_5_4.png</string>
		<key>productCode</key>
		<string>com.appstudio.X2.1</string>
		<key>texture</key>
		<string>halo_5_4.png</string>
		<key>isPurchase</key>
		<true/>
		<key>FontProperty</key>
		<dict>
			<key>position</key>
			<string>{70,120}</string>
			<key>distance</key>
			<string>3</string>
			<key>fontName</key>
			<string>CapsuleXProMediumUC</string>
			<key>fontSize</key>
			<string>50</string>
			<key>fontColor</key>
			<string>255,255,255,1</string>
			<key>shadowOffset</key>
			<string>{2.0,2.0}</string>
			<key>shadowColor</key>
			<string>255,255,255,1</string>
			<key>shadowRadius</key>
			<string>2</string>
			<key>shadowOpacity</key>
			<string>0</string>
			<key>strokeWidth</key>
			<string>1.0</string>
			<key>strokeColor</key>
			<string>255,255,255,1</string>
		</dict>
	</dict>
	<dict>
		<key>icon</key>
		<string>halo_5_5.png</string>
		<key>productCode</key>
		<string>com.appstudio.X2.1</string>
		<key>texture</key>
		<string>halo_5_5.png</string>
		<key>isPurchase</key>
		<true/>
		<key>FontProperty</key>
		<dict>
			<key>position</key>
			<string>{70,120}</string>
			<key>distance</key>
			<string>3</string>
			<key>fontName</key>
			<string>CapsuleXProMediumUC</string>
			<key>fontSize</key>
			<string>50</string>
			<key>fontColor</key>
			<string>255,255,255,1</string>
			<key>shadowOffset</key>
			<string>{2.0,2.0}</string>
			<key>shadowColor</key>
			<string>255,255,255,1</string>
			<key>shadowRadius</key>
			<string>2</string>
			<key>shadowOpacity</key>
			<string>0</string>
			<key>strokeWidth</key>
			<string>1.0</string>
			<key>strokeColor</key>
			<string>255,255,255,1</string>
		</dict>
	</dict>
</array>
</plist>
